.o-media {
  display: block
}

.o-media:after {
  display: table !important;
  clear: both !important;
  content: "" !important
}

.o-media__img {
  float: left
}

.o-media__img>img {
  display: block
}

.o-media__body {
  display: block;
  overflow: hidden
}

.o-media__body,
.o-media__body>:last-child {
  margin-bottom: 0
}
